<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmed.hSafe">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.ahmed.hSafe.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ahmed.hSafe.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Register">
        </activity>
        <activity
            android:name="com.ahmed.hSafe.MainActivity"
            android:label="Main">
        </activity>
        <activity
            android:name="com.ahmed.hSafe.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.ProfileTheme">
        </activity>
        <activity
            android:name="com.ahmed.hSafe.BluetoothConnection.GattMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Home"
            >
        </activity>
        <activity
            android:name="com.ahmed.hSafe.CreateEthAccountActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Wallet creation"
            >
        </activity>
        <activity
            android:name="com.ahmed.hSafe.EnquiryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Enquiry"
            >
        </activity>
        <activity
            android:name="com.ahmed.hSafe.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Home"
            >
        </activity>
    </application>

</manifest>